<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header dialog-header-create">
      <h4 class="modal-title"><span class="fa fa-plus"></span> Create New Project</h4>
    </div>
    <div class="modal-body">
      <label class="control-label" for="name">Name:</label>
      <input type="text" class="form-control" id="name" ng-model="project.title" ng-keyup="hitEnter($event)">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button type="button" class="btn btn-success pull-right" ng-click="store()">Create Project</button>
    </div>
  </div>
</div>