.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 5px;
}
.badge-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.badge-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.badge-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.badge-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.badge-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}