html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: url(../img/mybg.png) #fff;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: url(../img/mybg.png) #fff;
  direction: ltr;
}

/* ==========================================================
! Spacing, Margin, and Padding
========================================================== */
  
  .spacer-2,
  .spacer-5,
  .spacer-10,
  .spacer-15,
  .spacer-20,
  .spacer-25,
  .spacer-30,
  .spacer-35,
  .spacer-40,
  .spacer-45,
  .spacer-50,
  .spacer-60{
    width : 100%;
    clear : both;
  }
  .spacer-2{
    height : 2px;
  }
  .spacer-5{
    height : 5px;
  }
  .spacer-10{
    height : 10px;
  }
  .spacer-15{
    height : 15px;
  }
  .spacer-20{
    height : 20px;
  }
  .spacer-25{
    height : 25px;
  }
  .spacer-30{
    height : 30px;
  }
  .spacer-35{
    height : 35px;
  }
  .spacer-40{
    height : 40px;
  }
  .spacer-45{
    height : 45px;
  }
  .spacer-50{
    height : 50px;
  }
  .spacer-60{
    height : 60px;
  }
  .space-30 {
    width:100%;
    height: 30px;
  }

.padding10,
.padding20,
.padding30,
.padding010,
.padding020,
.padding030,
.padding100,
.padding200,
.padding300 {
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding010 {
  padding: 0 10px;
}
.padding020 {
  padding: 0 20px;
}
.padding030 {
  padding: 0 30px;
}
.padding1030 {
  padding: 10px 30px;
}
.padding100 {
  padding: 10px 0;
}
.padding200 {
  padding: 20px 0;
}
.padding300 {
  padding: 30px 0;
}
.margin0 {
  margin: 0;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.margin30 {
  margin: 30px;
}
.margin100 {
  margin: 10px 0;
}
.margin200 {
  margin: 20px 0;
}
.margin300 {
  margin: 30px 0;
}

/* ==========================================================
! Typography
========================================================== */

.italic {
  font-style: italic;
  font-weight: normal;
}

.page-title, 
.post-title,
.section-title,
.info-head,
.widget-title,
.button-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px 0;
  color: #222;
}

form input {
  width: 100%;
}

.form {
  margin: 10px 0 0 0;
  background: #fff;
  padding: 0 30px 30px;
  border: 2px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}