

.modal { 
  display: block;
}

/* Ease Display */

.pad { padding: 25px; }


html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: url(../img/mybg.png) #fff;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: url(../img/mybg.png) #fff;
  direction: ltr;
}

/* ==========================================================
! Spacing, Margin, and Padding
========================================================== */
  
  .spacer-2,
  .spacer-5,
  .spacer-10,
  .spacer-15,
  .spacer-20,
  .spacer-25,
  .spacer-30,
  .spacer-35,
  .spacer-40,
  .spacer-45,
  .spacer-50,
  .spacer-60{
    width : 100%;
    clear : both;
  }
  .spacer-2{
    height : 2px;
  }
  .spacer-5{
    height : 5px;
  }
  .spacer-10{
    height : 10px;
  }
  .spacer-15{
    height : 15px;
  }
  .spacer-20{
    height : 20px;
  }
  .spacer-25{
    height : 25px;
  }
  .spacer-30{
    height : 30px;
  }
  .spacer-35{
    height : 35px;
  }
  .spacer-40{
    height : 40px;
  }
  .spacer-45{
    height : 45px;
  }
  .spacer-50{
    height : 50px;
  }
  .spacer-60{
    height : 60px;
  }
  .space-30 {
    width:100%;
    height: 30px;
  }

.padding10,
.padding20,
.padding30,
.padding010,
.padding020,
.padding030,
.padding100,
.padding200,
.padding300 {
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding010 {
  padding: 0 10px;
}
.padding020 {
  padding: 0 20px;
}
.padding030 {
  padding: 0 30px;
}
.padding1030 {
  padding: 10px 30px;
}
.padding100 {
  padding: 10px 0;
}
.padding200 {
  padding: 20px 0;
}
.padding300 {
  padding: 30px 0;
}
.margin0 {
  margin: 0;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.margin30 {
  margin: 30px;
}
.margin100 {
  margin: 10px 0;
}
.margin200 {
  margin: 20px 0;
}
.margin300 {
  margin: 30px 0;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* ==========================================================
! Typography
========================================================== */

.italic {
  font-style: italic;
  font-weight: normal;
}

.page-title, 
.post-title,
.section-title,
.info-head,
.widget-title,
.button-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px 0;
  color: #222;
}

.divMessageBox {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,.6);
  z-index:100000}

.MessageBoxContainer {
  top:35%;
  color:#fff;
  position:relative;
  width:100%;
  background-color:#232323;
  background-color:rgba(0,0,0,.8);
  padding:20px}

.MessageBoxMiddle {
  position:relative;
  left:20%;
  width:60%}

.MessageBoxMiddle .MsgTitle {
  letter-spacing:-1px;
  font-size:24px;
  font-weight:300}

.MessageBoxMiddle .pText {
  font-style:30px}

.MessageBoxContainer input,.MessageBoxContainer select {
  width:50%;
  padding:5px}

.MessageBoxButtonSection {
  width:100%;
  height:30px}

.MessageBoxButtonSection button {
  float:right;
  margin-right:7px;
  padding-left:15px;
  padding-right:15px;
  font-size:14px;
  font-weight:700}

.LoadingBoxContainer {
  top:20%;
  color:#fff;
  position:relative;
  width:100%;
  background-color:#232323}

.LoadingBoxMiddle {
  position:relative;
  left:20%;
  width:50%;
  padding:10px}

.LoadingBoxContainer .MsgTitle {
  font-size:26px}

.LoadingBoxContainer .pText {
  font-style:30px}

#LoadingPoints {
  position:absolute}

  .txt-color-blue {
  color:#57889c!important}

.txt-color-blueLight {
  color:#92a2a8!important}

.txt-color-blueDark {
  color:#4c4f53!important}

.txt-color-green {
  color:#356e35!important}

.txt-color-greenLight {
  color:#71843f!important}

.txt-color-greenDark {
  color:#496949!important}

.txt-color-red {
  color:#a90329!important}

.txt-color-yellow {
  color:#b09b5b!important}

.txt-color-orange {
  color:#b19a6b!important}

.txt-color-orangeDark {
  color:#a57225!important}

.txt-color-pink {
  color:#ac5287!important}

.txt-color-pinkDark {
  color:#a8829f!important}

.txt-color-purple {
  color:#6e587a!important}

.txt-color-darken {
  color:#404040!important}

.txt-color-lighten {
  color:#d5e7ec!important}

.txt-color-white {
  color:#fff!important}

.txt-color-grayDark {
  color:#525252!important}

.txt-color-magenta {
  color:#6e3671!important}

.txt-color-teal {
  color:#568a89!important}

.txt-color-redLight {
  color:#a65858!important}

  #mobile-profile-img {
  display:none}

.menu-on-top #mobile-profile-img {
  display:block!important;
  padding-right:2px!important;
  padding-left:2px!important}

.menu-on-top #mobile-profile-img a.userdropdown img {
  width:30px;
  margin-top:5px;
  margin-left:2px;
  border-radius:3px;
  border:1px solid #797979!important}

.breadcrumb {
  padding: 10px 15px 10px 0;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  color: #B2D4DC;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li:first-child:before {
  padding: 0 5px;
  font-family: FontAwesome;
  content: "\f015";
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #B2D4DC;
  content: "\f105\00a0";
}
.breadcrumb > .active {
  color: #FF6900;
}

table.table,
table.table thead,
table.table tr,
table.table th,
table.table tbody,
table.table td {
  background: transparent;
}

.breadcrumb-panel .panel-default,
.breadcrumb-panel .panel-primary,
.breadcrumb-panel .panel-success,
.breadcrumb-panel .panel-info,
.breadcrumb-panel .panel-warning,
.breadcrumb-panel .panel-danger {
  padding: 10px;
}

.user-welcome {
  display: none;
}

#header {
  display: block;
  height: 49px;
  margin: 0;
  padding: 0 13px 0 0;
  background: #3a3633;
  position: relative;
  z-index: 905;
  color: #e3e3e3;
}

#header > div {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  float: left;
}

#logo-group > span {
  display: inline-block;
  height: 39px;
  float: left;
}

#logo {
  display: inline-block;
  width: 175px;
  margin-top: 10px;
  margin-left: 9px;
  font-size: 1.25em;
}

#header > :first-child,
aside {
  width:220px;
}

.btn-header.pull-right {
  margin-left: 6px;
}

.btn-header a > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}

.btn-header > :first-child > a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: default !important;
  display: inline-block;
  font-weight: 700;
  height: 30px;
  min-width: 30px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  background-color: #f8f8f8;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image:-ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #bfbfbf;
  color: #6d6a69;
  font-size: 17px;
  margin: 10px 0 0;
}

.btn-header > :first-child > a:hover {
  border: 1px solid #bfbfbf;
  color: #222;
  transition: all 0s;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 4px 1px rgba(0,0,0,.08);
  box-shadow: inset 0 0 4px 1px rgba(0,0,0,.08);
}

.btn-header > :first-child > a:active {
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top,#e8e8e8 0,#ededed 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#ededed));
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#ededed 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#ededed 100%);
  background-image: -ms-linear-gradient(top,#e8e8e8 0,#ededed 100%);
  background-image: linear-gradient(to bottom,#e8e8e8 0,#ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ededed', GradientType=0);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
  box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
}

.header-search {
  position: relative;
}

.header-search.pull-right {
  margin-left: 6px;
}

.header-search > input[type=text] {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 200px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-color: #bfbfbf;
  background: #fff;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-top: 10px;
  line-height: normal;
}

.header-search > button {
  background: 0 0;
  border: none;
  color: #6D6A69;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  z-index: 2;
}

#search-mobile {
  display:none;
}

#cancel-search-js {
  position: absolute;
  display: none;
  background: #a90329;
  z-index: 3;
  color: #fff;
  padding: 0;
  right: 10px;
  top: 10px;
  text-align: center;
  height: 29px;
  line-height: 29px;
  width: 30px;
  font-size: 17px;
  text-decoration: none !important;
}

#board-header {
  padding: 10px;
  background: #2A3A48;
  color: #B2D4DC;
}

#board-header a {
  color: #B2D4DC;
}

#board-header a:hover {
  color: #FF6900;
  text-decoration: underline;
}

#board-header a.active {
  color: #FF6900;
  text-decoration: none;
}

.post-links a:hover {
  color: #FF6900;
  text-decoration: underline;
}

#board-content {
  background: #3E6372;
  color: #FAFAFF;
}

#boards:not(:first-child) {
  margin-top: 15px;
}

#board-content a {
  color: #FF6900;
  font-weight: bold;
  text-decoration: none;
}

#board-content a:hover {
  color: #2A3A48;
  font-weight: bold;
  text-decoration: underline;
}

#board-content table {
  border: none;
}

#board-content table.table > thead > tr > th,
#board-content table.table > tbody > tr > th,
#board-content table.table > tfoot > tr > th,
#board-content table.table > thead > tr > td,
#board-content table.table > tbody > tr > td,
#board-content table.table > tfoot > tr > td {
  border-top: none;
  border-bottom: none;
}

#board-content table.table > thead > tr:not(:first-child),
#board-content table.table > tbody > tr:not(:first-child),
#board-content table.table > tfoot > tr:not(:first-child) {
  border-top: 1px solid #B2D4DC;
}

#board-content table.table > thead > tr > td:not(:first-child),
#board-content table.table > tbody > tr > td:not(:first-child),
#board-content table.table > tfoot > tr > td:not(:first-child) {
  border-left: 1px solid #B2D4DC;
}

#board-content table.table > thead > tr > th:not(:first-child):not(:last-child),
#board-content table.table > tbody > tr > th:not(:first-child):not(:last-child),
#board-content table.table > tfoot > tr > th:not(:first-child):not(:last-child)
#board-content table.table > thead > tr > td:not(:first-child):not(:last-child),
#board-content table.table > tbody > tr > td:not(:first-child):not(:last-child),
#board-content table.table > tfoot > tr > td:not(:first-child):not(:last-child) {
  text-align: center;
  width: 8%;
}

#board-content table.table > thead > tr > th:last-child,
#board-content table.table > tbody > tr > th:last-child,
#board-content table.table > tfoot > tr > th:last-child
#board-content table.table > thead > tr > td:last-child,
#board-content table.table > tbody > tr > td:last-child,
#board-content table.table > tfoot > tr > td:last-child {
  width: 25%;
}

#board-content table tbody {
  background: #FAFAFF;
  color: #2A3A48;
}

#board-content table.table > thead > tr > th > a {
  color: #FAFAFF;
  text-decoration: none;
}

#board-content table.table > thead > tr > th > a:hover {
  color: #B2D4DC;
  text-decoration: underline;
}

#board-topic {
  background: #B2D4DC;
  color: #2A3A48;
  padding: 15px;
}

#topics:not(:first-child) {
  margin-top: 5px;
}

.topic-content {
  border-right: 1px solid #FAFAFF;
}

.head-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #FAFAFF;
}

.topic-heading h4 {
  margin: 5px 0px 5px -10px;
  width: auto;
  display: inline-block;
}

.user-content label {
  font-weight: 400;
}

#topics .topic-content {
  border-right: none;
}

#topics .topic-content button {
  margin-bottom: 5px;
}

#topics .user-content {
  border-left: 1px solid #FAFAFF;
}

.user-content .form-horizontal .control-label,
.user-content .form-horizontal .form-control-static,
.user-content .form-horizontal .form-group {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}